<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.koelle.christian.trickytripper.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- This has to point to the package of the app you want to test. -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="de.koelle.christian.trickytripper" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>