<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.koelle.christian.trickytripper"
    android:installLocation="preferExternal"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TrickyTripperApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".TrickyTripperActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ParticipantTabActivity" >
        </activity>
        <activity android:name=".activities.PaymentTabActivity" >
        </activity>
        <activity android:name=".activities.ReportTabActivity" >
        </activity>
        <activity
            android:name=".activities.PaymentEditActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.ManageTripsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.ExportActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.MoneyTransferActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.SaveToSdCardActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/save2SdReceiverLabel" >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />                
            </intent-filter>
        </activity>

<!--         <receiver -->
<!--             android:name=".receiver.SdCardStorageReceiver" -->
<!--             android:icon="@drawable/ic_launcher" -->
<!--             android:label="@string/save2SdReceiverLabel" -->
<!--             android:process=":tricky_tripper_background" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.ACTION_SEND_MULTIPLE" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->

        <provider
            android:name=".provider.TrickyTripperFileProvider"
            android:authorities="de.koelle.christian.trickytripperfileprovider" >
        </provider>
    </application>

</manifest>